#profileAnim{
    margin: 10px;
    display: flex;
    box-sizing: border-box;
    height: 600px;
    background-color: black;
}
.pembatasKiri{
    display: flex;
    left: 0%;
    width: 75%;
    border-right: 1px solid white; /*Untuk ngecek position*/
}
.animeImage{
    position: relative;
    left: 15px;
    top: 50px;
    display: flex;
    width: 230px;
    height: 330px;
    border: 1px solid white;    /*Biar tau posisi gambar*/
}
.animeProfile{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    top: 50px;
    left: 25px;
    width: 70%;
    border: 1px solid white;
    height: 538px;
    color: white;
}
.judul{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    position: relative;
    top: 15px;
    left: 14px;
}
.sinopsis{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: 15px;
    position: relative;
    top: 15px;
    left: 14px;
    width: 95%;
}
.genre{
    font-family: 'Inter', sans-serif;
}
.pembatasKanan{
    left: 80%;
}
.teks-window-kanan{
    color: aliceblue;
}