#container {
    padding: 32px 27px 0 27px;
    display: flex;
    gap: 10px;

}

.contentNewAnime{
    border: solid 8px rgb(160, 193, 209);
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* Heading */
.headingNewAnime {
    background-color: #A0C1D1;
    padding: 5px;
}

.headingNewAnime h4 {
    padding-left: 20px;
    font-family: jost;
    font-size: 20px;
    font-style: italic;
}

/* Container Anime */
.containerNewAnime {
    margin-left: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.animeList .descNewAnime {
    width: 140px
}

.animeList {
    text-align: center;
}

.descNewAnime p {
    font-style: italic;
    opacity: 70%;
}

.animeList img{
    border: 1px solid black;
    height: 190px;
    width: 140px;
}

.animeList img:hover{
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transform: scale(0.99); 
}

.animeList a {
    text-decoration: none;
    color: black;
}

.animeList a:hover{
    text-decoration: underline;
}

.pageNav {
    background-color: #A0C1D1;
    text-align: center;
    padding: 2vh;
    margin: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}


.pageNumber button {
    background-color: transparent;
    cursor: pointer;
    margin: 2px;
    height: 30px;
    width: 30px;
}