*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.container{
    display: flex;
    padding: 60px 106px;
    gap: 106px;
}

.content{
    width: 70%;
}

.headingContent{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.headingContent p:nth-child(1){
    font-size: 22px;
}

.headingContent p{
    font-weight: 500;
}

.headingContent span{
    color: #5F5F5F;
}

.mainContent{
    background: transparent;
}

.search{
    display: flex;
    border: 1px solid black;
    width: 300px;
    height: 35px;
    justify-content: space-between;
    padding: 8px 15px;
    
}

.search input.searchBar{
    outline: none;
    border: none;
    
}

.search button{
    border: none;
}

.search img{
    width: 25px;
}

aside{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: transparent;
}

aside p:nth-child(1){
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

aside p{
    background-color: #ACB1D6;
    padding: 12px;
}