*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.containerCommunity{
    display: flex;
    padding: 60px 106px;
    gap: 106px;
}

.contentCommunity{
    width: 70%;
}

.headingContent{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 25px;
}

.headingContent p:nth-child(1){
    font-size: 22px;
}

.headingContent p{
    font-weight: 500;
}

.headingContent span{
    color: #5F5F5F;
}

.mainContentCommunity{
    background: transparent;
    width: 95%;
}

.mainContentCommunity .subHeadingDiscussion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 12px 0;
}

.subHeadingDiscussion button{
    background-color: #ACB1D6;
    border: 0;
    padding: 10px 40px;
    cursor: pointer;
    align-items: center;
}

.start-discuss{
    display: flex;
    width: fit-content;
}

.start-discuss:hover{
    background-color: #A0C1D1;
    color: black;
}

.listDicussion{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

/* Link{
    width: 55%;
    padding: 15px 15px;
    padding: 15px 15px;
    background-color: #ACB1D6;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.discussion{
    padding: 15px 15px;
    background-color: #ACB1D6;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discussion:hover{
    background-color: #A0C1D1;
}

a{
    text-decoration: none;
    color: black;
}

.discussion img{
    width: 40px;
}

.discussion p{
    font-size: 13px;
}

.searchCommunity{
    display: flex;
    border: 3px solid #8294C4;
    width: 220px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 26px;
}

.searchCommunity input.searchBar{
    outline: none;
    border: none;
    
}

.searchCommunity button{
    border: none;
}

.searchCommunity img{
    width: 25px;
}
.searchCommunity img:hover{
    width: 22px;
}

aside.asideCommunity{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    border: 0;
}

aside.asideCommunity p:nth-child(1){
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

aside.asideCommunity p{
    background-color: #ACB1D6;
    padding: 12px;
}

