*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.containerCommunity{
    display: flex;
    padding: 60px 106px;
    gap: 106px;
}

.contentCommunity{
    width: 70%;
}

.mainContentCommunity{
    background: transparent;
    width: 95%;
}

.mainContentCommunity h3{
    margin-bottom: 30px;
}

.listDicussion{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.containerTopic{
    display: flex;
    align-items: start;
    gap: 15px;
    background-color: #ACB1D6;
    padding: 18px 19px;
}

.profileUser{
    width: 50px;
}

.contentTopic{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contentTopic p.profileName{
    font-size: 18px;
}

.topic{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.topic p.topicTitle{
    font-size: 25px;
    font-weight: 800;
}

.topic p.mainTopic{
    font-size: 18px;
}



aside.asideCommunity{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: transparent;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

aside.asideCommunity p:nth-child(1){
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

aside.asideCommunity p{
    background-color: #ACB1D6;
    padding: 12px;
}

.searchCommunityDiscussion{
    display: flex;
    border: 3px solid #8294C4;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    margin: 26px 0px;
}

.searchCommunityDiscussion input.searchBar{
    outline: none;
    border: none;
    
}

.searchCommunityDiscussion button{
    border: none;
}

.searchCommunityDiscussion img{
    width: 25px;
}

button.newDiscussion{
    background-color: #ACB1D6;
    border: 0;
    width: 220px;
    padding: 10px 0px;
}