* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #232C33;
  color: white;
  padding: 40px 10px 0 10px;
}

.left {
  padding-top: 80px;
}

.center {
  padding-top: 0;
  display: contents;
}

.center ul li a {
  color: white;
}
.center ul li a:hover {
  text-decoration: underline;
}

.right {
  padding-top: 80px;
}

.socialmedia{
  display: flex;
  gap: 8px;
  font-style: italic;
  text-decoration: underline;
}

.socialmedia a img{
  height: 30px;
}