* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #232C33;
  color: white;
  padding: 10px 10px 0 10px;
  height: 100px;
}

.left {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.center {
  padding-top: 0;
  display: flex;
}
.center-child{
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 20px;
}
.center ul li a {
  text-decoration: none;
  color: white;
}
.center ul li a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.socialmedia{
  display: flex;
  gap: 8px;
  font-style: italic;
  text-decoration: underline;
}

.socialmedia a img{
  height: 30px;
}