*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #ACB1D6;
    color: black;
    display: flex;
    padding: 0px 40px;
    height: 55px;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

/* Left Navbar */
#leftNav{
    display: flex;
    align-items: center;
    /* width: 45%; */
}
#navTittle{
    font-family: 'Arvo', serif;
    font-stretch: extra-expanded;
}
#leftNav img#navTittle{
    height: 45px;
}
.Searching {
    padding: 0px;
    display: flex;
    align-items: center;
}
#search input {
    height: 30px;
    width: 250px;
    padding: 5px;
}

.iconSearch {
    padding-left: 3px;
    /* background-color: #fff; */
}
.iconSearch button {
    height: 25px;
    width: 25px;
    background-color: #fff;
    /* padding-left: 10px; */
}

/* .gotoSearch{
    transition: 0.4s;
    border: 1px solid black;
    padding: 4px 20px;
}
.gotoSearch:hover{
    border: 2px solid white;
    padding: 4px 20px;
} */

/* Right Navbar */
#rightNav{
    /* width: 55%; */
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.navList{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}


.navList a{
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    transition: 0.4s;
}

.navList a:hover{
    font-weight: bold;
    transform: translateY(-5px);
}

a.active{
    color: #fff;
    text-shadow: 3px 1px 2px black;
}

a.notActive{
    color: black;
}

a button{
    color: white;
    border: 0;
    transition: 0.4s;
    width: 85px;
    height: 30px;
}

a button.loginButtonHeader{
    background-color: #636363;
}

a button.registerButtonHeader{
    background-color: #8294C4;
}

a button:hover{
    background-color: transparent;
}

#profileIcon{
    width: 40px;
    border-radius: 50px;
}