*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    height: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

section.container{
    padding: 32px 27px 0 27px;
    display: flex;
    gap: 20px;
}

.content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* HERO */
.hero{
    background-color: rgb(217, 217, 217);
}

.hero .headingOngoing{
    border: solid 1px black;
    padding: 5px;
}

.hero .listOngoing{
    display: flex;
    gap: 27px;
    padding: 16px 20px 24px 20px;
    overflow-x: scroll;
}

.ongoingAnime{
    text-align: center;
    cursor:pointer ;
}

.ongoingAnime img{
    width: 180px;
    height: 200px;
    border: solid 1px black;
}

/* MAIN CONTENT */
.mainContent{
    background-color: rgb(217, 217, 217);
}

.mainContent .headingNewAnime{
    border: solid 1px black;
    padding: 5px;
}

.mainContent .listNewAnime{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.newAnime{
    display: flex;
    gap: 20px;
}

.newAnime img{
    width: 180px;
    height: 150px;
}

/* ASIDE */
aside{
    width: 30%;
    background-color: rgb(217, 217, 217);
    margin-bottom: auto;
}

.headingTopAnime{
    border: solid 1px black;
    text-align: center;
    padding: 5px;
}

.listTopAnime{
    padding: 23px 10px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.topAnime{
    display: flex;
    gap: 14px;
    justify-content: center;
}

.topAnime img{
    width: 120px;
    height: 160px;
}

.updateContent{
    background-color: rgb(217, 217, 217);
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.updateContent a{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.updateContent a:hover{
    text-decoration: underline;
}
