*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

section.container{
    padding: 32px 27px 0 27px;
    display: flex;
    gap: 20px;
}

.content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* HERO */
.hero{
    background-color: #ffffff;
    border: solid 8px rgb(160, 193, 209);
}

.hero .headingOngoing{
    background-color: rgb(160, 193, 209);
    border-bottom: none;
    padding: 5px 10px;
}

.hero .listOngoing{
    display: flex;
    gap: 15px;
    padding: 16px 0px 0px 0px;
    overflow-x: scroll;
}

.ongoingAnime{
    padding-left: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.ongoingAnime img{
    width: 180px;
    height: 250px;
    border: solid 1px black;
}

/* MAIN CONTENT */
.mainContent{
    background-color: #fff;
    border: solid 8px rgb(160, 193, 209);
}

.mainContent .headingNewAnime{
    padding-left: 10px;
    background-color: rgb(160, 193, 209);
    border-style: none;
}

.mainContent .listNewAnime{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 30px 0px;
}

.newAnime{
    display: flex;
    gap: 20px;
}

.newAnime img{
    width: 200px;
    height: 250px;
}

.newAnime .descNewAnime{
    width: 200px;
}

/* ASIDE */
aside{
    width: 30%;
    background-color: #fff;
    margin-bottom: auto;
    border: solid 8px #A0C1D1;
}

.headingTopAnime{
    text-align: center;
    padding: 5px;
    background-color: #A0C1D1;
}

.listTopAnime{
    margin: 23px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topAnime{
    display: flex;
    margin: 0px 10px;
    justify-content: start;
    gap: 20px;
}

.topAnime img{
    border: 1px solid black;
    width: 120px;
    height: 160px;
}

.updateContent{
    background-color: #A0C1D1;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.updateContent a{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.updateContent a:hover{
    text-decoration: underline;
}

.ongoingAnime a {
    text-decoration: none;
    color: black;
}
.ongoingAnime a:hover{
    text-decoration: underline;
}

.ongoingAnime img:hover{
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transform: scale(0.99); 
}

.newAnime a{
    text-decoration: none;
    color: black;
}
.newAnime a:hover{
    text-decoration: underline;
}

.newAnime img:hover{
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transform: scale(0.99); 
}

.descTopAnime a {
    text-decoration: none;
    color: black;
}
.descTopAnime a:hover{
    text-decoration: underline;
}

.topAnime img:hover{
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transform: scale(0.99); 
}