#profileAnim{
    margin: 10px;
    display: flex;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #8294C4;

}
::-webkit-scrollbar-thumb:hover {
    background: #ACB1D6; 
}

/* Main content */
.pembatasKiri{
    margin: 10px;
    display: flex;
    left: 0%;
    width: 75%;
    border: 7px solid #A0C1D1;
    /* background-color: rgb(217, 217, 217); */
    padding-bottom: auto;
    margin-bottom: auto;
}
.animeImage{
    position: relative;
    left: 15px;
    top: 50px;
    display: flex;
    width: 230px;
    height: 330px;
    border: 1px solid black;    /*Biar tau posisi gambar*/
}
.animeProfile{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    top: 50px;
    left: 25px;
    width: 70%;
    border: 7px solid #A0C1D1;
}

.pembatasKiri .animeProfile{
    margin-bottom: 100px;

}

.judul{
    /* font-family: 'Inter', sans-serif; */
    font-size: 30px;
    letter-spacing: 0.5px;
    position: relative;
    /* top: 0; */
    left: 14px;
}
.sinopsis{
    display: flex;
    flex-direction: column;
    /* font-family: 'Inter', sans-serif; */
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: 15px;
    position: relative;
    left: 14px;
    width: 90%;
    /* font-weight: 500; */
}
.genre{
    /* font-family: 'Inter', sans-serif; */
    position: relative;
    left: 14px;
}

/* Side Box */
.pembatasKanan{
    display: flex;
    flex-direction: column;
    border: 7px solid #A0C1D1;
    margin-left: 25px;
    width: 23%;
    margin-bottom: auto;
}
.tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: rgb(0, 0, 0);
    /* border: 1.5px solid black; */
    background-color: #A0C1D1;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}
.animeCard{
    display: flex;
}
.cardLink{
    text-decoration: none;
    color: black;
    /* padding-right: 10px;
    padding-left: 15px; */
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.sideImg{
    width: 100px;
}
.sideText{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    gap: 10px;
}