*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(172, 177, 214);
    border-radius: 15px;
    height: 500px;
    width: 450px;
}
.fill{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}
.registerForm h2{
    margin-top: 35px;
    margin-bottom: 50px;
    font-family: 'Judson', serif;
    font-size: 30px;
}
.registerButton{
    display: flex;
    margin-top: 40px;
    width: 80%;
    height: 47px;
    font-family: 'Judson', serif;
    background-color: rgb(90, 90, 90);
    font-size: 20px;
    color: rgb(191, 191, 191);
    border: 1.5px solid black;
    justify-content: center;
    align-items: center;
}
.fill input{
    background-color: rgb(172, 177, 214);
    border: 1.5px solid black;
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;
}
input:focus{
    outline: none;
}
p{
    font-family: 'Judson', serif;
    font-size: 15px;
}
.cekPrivasi{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 90%;
    margin-top: 15px;
}
.cekPrivasi input{
    margin: 2.5px;
}
p.cekKeterangan{
    font-family: 'Judson', serif;
    font-size: 13px;
    margin-left: 10px;
    padding-right: 18px;
}