.container {
    margin :30px;
    padding: 0;
    background-color: #A0C1D1;
    box-sizing: border-box;
}

.heading-result-search {
    background-color: #A0C1D1;
    border: 1px solid black;
    padding: 5px;
}

.heading-result-search .h1 {
    padding-left: 20px;
    font-family: jost;
    font-style: italic;
}

.container-result-search {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    text-align: center;
    padding-bottom: 10px;
}

/* .animeList img{
    height: 255px;
    width: 350px;
} */

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover{
    text-decoration: underline;
}