.container-Result {
    margin : 25px 90px;
    padding: 0;
    box-sizing: border-box;
}

.heading-search-result {
    padding: 15px 20px 15px 20px;
}

.heading-search-result h4 {
    padding-left: 20px;
    /* font-style: #A0C1D1; */
    font-family: jost;
    font-style: italic;
}

.container-result-search {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-result {
    text-align: center;
    padding-bottom: 25px;
}

.search-result img{
    height: 255px;
    width: 200px;
}

.search-result link {
    text-decoration: none;
    color: black;
}

.search-result link:hover{
    text-decoration: underline;
}