@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
h1 h3 h4 h5 {
    font-family: 'Judson', serif;
}

section {
    display: flex;
}

.content-Streaming {
    padding-bottom: 5px;
}

.heading-streaming {
    margin-left: 10px;
}

.streams {
    border: 10px solid #A0C1D1;
    border-bottom: 15px solid #A0C1D1;
    padding: 5px 5px;
    margin: 5px;
}
.streams video {
    height: 350px;
    width: auto;
}

.title {
    display: flex;
    margin: 15px;
}
.title img {
    /* height: 200px; */
    width: 25%;
}
.title .title-anime {
    margin-left: 15px;
}

aside {
    width: 350px;
    height: 400px;
    /* padding: 10px 10px; */
    margin: 50px 10px;
    /* justify-content: right; */
    /* border: none; */
}
.heading-episode {
    background-color: #A0C1D1;
    padding: 3px 5px;
    /* margin: 4px 5px; */
    border: 5px solid #A0C1D1;
}
.nav-ep {
    /* background-color: #A0C1D1; */
    text-align: center;
    padding: 2vh;
    margin: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.nav-ep .nav-ep-flex {
    padding: 0px;
    margin: 0px;
}

.nav-ep .nav-ep-flex button {
    /* background-color: transparent; */
    cursor: pointer;
    margin: 2px;
    height: 30px;
    width: 50px;
    /* font-size: 12px; */
}

.nav-ep .nav-ep-flex button:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background-color: #A0C1D1;
}
.list-episode {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}
.episode {
    padding: 4px 2px;
    margin: 5px 10px;
}
.episode button {
    padding: 4px 5px;
    cursor: pointer;
}
.episode button:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background-color: #A0C1D1;
}

