.head-Container {
    background-color: #A0C1D1;
    padding: 85px;
    padding-top: 10px;
}
.head-Container .logo {
    text-align: center;
    margin-top: 25px;
}

.head-Container .bottom-logo {
    text-align: center;
}
.body-Container {
    background-color: #ffffff;
    padding: 85px;
    padding-top: 10px;
}

.foot-Container {
    background-color: #A0C1D1;
    padding: 85px;
    padding-top: 50px;
    text-align: center;
}
.head-text {
    padding-bottom: 20px;
}

.btn-daftar-child{
    background-color: #ACB1D6;
    border: none;
    color: white;
    padding: 0px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-top: 20px;
}
.btn-daftar {
    border-radius: 12px ;
}